.vscode-test/
node_modules
.DS_Store

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/versions
yarn-error.log

# native module
target
index.node

# cache and build file
.cache
.artifact
build
out
dist
**/*.vsix
